.list-item-modal {
  width: 30rem;

  &__delete-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;

    .button {
      border: 1px solid var(--red-color);
      color: var(--red-color);
    }
  }
}