.edit-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45rem;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    height: 35rem;
  }

  .display-view {
    height: 100%;

    &__content {
      height: 100%;
    }

    .display-view-general {
      &__top {
        &__lists {
          height: 22rem;
        }
      }
    }

    .modal-footer {
      display: none;
    }
  }
}