.list-item-modal-edit-view {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.3rem;
    }

    .button {
      border: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
    height: 30rem;
    font-size: 1.5rem;
    gap: 1rem;

    .list-item-modal-display-view {
      &__content {
        height: 14rem !important;
      }

      .display-view-modal-footer {
        &__actions {
          display: none;
        }

      }
    }
  }
}