.edit-word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .edit-word-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    user-select: none;
    font-size: 3rem;
    width: 100%;
    height: 100%;

    .edit-word-error-message {
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .edit-word-actions {
    display: flex;
    flex-direction: column;

    .add-furi-button {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      width: 100%;

      button {
        font-size: 1.5rem;
        width: 7.4rem;
      }
    }

    .edit-word-input {
      display: flex;
      width: 100%;
      gap: 1rem;
      padding-bottom: 1rem;

      input {
        margin-left: 0.2rem;
        width: 100%;
      }

      .edit-word-input-buttons {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
