button {
  cursor: pointer;
  user-select: none;
  border: none;
  color: white;
  box-sizing: border-box;
  text-align: center;
  background-color: #282c34;
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, background-color 0.2s ease;

  &.ghost {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.disabled {
    color: gray;
    box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5) !important;
  }

  &:not(:disabled) {
    &:active {
      transform: scale(0.95);
      background-color: grey;
    }

  }

  &:focus {
    outline: none;
  }

}