button {
  cursor: pointer;
  user-select: none;
  border: none;
  color: white;
  background-color: #282c34;
  text-align: center;
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

button.ghost {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
}

button.no-shadow {
  box-shadow: none;
}

button.disabled {
  color: gray;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5) !important;
}