.sort-modal {
  width: 18rem;
  padding-top: 0.5rem;

  .sort-modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    gap: 2rem;
  }

  .sort-options {
    display: flex;
    gap: 1rem;
  }
}