.exam-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.7rem;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
  }
}