.exam-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.7rem;

    .button {
      border: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 40rem;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;

    &__score {
      position: relative;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      width: 100%;

      &__number {
        position: absolute;
        display: inline-block;
        right: 5rem;
        font-size: 2rem;
        transform: scale(1.5);
        animation: shrink-to-size 0.75s ease-out forwards;

        &.green {
          color: var(--green-color);
        }

        &.red {
          color: var(--red-color);
        }
      }
    }

    .button {
      width: 10rem;
    }
  }
}

@keyframes shrink-to-size {
  0% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
}