.exam-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}