.test-modal {
  width: 30rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test-modal-footer {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
