.main-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;

  .main-list-footer-buttons {
    display: flex;
    gap: 1rem;
    width: 9rem;

    &.l {
      justify-content: flex-start;
      padding-left: 1rem;
    }

    &.c {
      justify-content: center;
    }

    &.r {
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }

}
