.main-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;

  &__buttons {
    display: flex;
    gap: 1rem;

    &__l {
      justify-content: flex-start;
      display: flex;
      gap: 1rem;
    }

    &__c {
      position: absolute;
      display: flex;
      flex-direction: column;
      user-select: none;
      justify-content: center;
      left: calc(50% - 3rem);
      font-size: 3rem;
    }

    &__r {
      justify-content: flex-end;
    }
  }

}