.exam-modal-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
  height: 40rem;

  &__top {
    height: 1rem;
    width: 100%;

    .progress-bar {
      height: 1rem;
      background-color: white;
      width: 100%;
      border-radius: 0.2rem;

      &__fill {
        background-color: green;
        height: 100%;
        border-radius: 0.2rem;
        transition: width 0.5s;
      }
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    &__jp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      user-select: none;
      justify-content: center;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      min-height: 10rem;
      width: 100%;

      .kana-with-furi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .kana {
          &.big {
            font-size: 4rem;
          }

          &.medium {
            font-size: 3rem;
          }

          &.normal {
            font-size: 2rem;
          }

          display: flex;
          align-items: flex-end;

        }

        .furi {
          display: flex;
          align-items: flex-end;
          font-size: 1.2rem;
          height: 1.5rem;
        }
      }
    }

    &__answers {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;

      button {
        padding: 1rem;
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;

        &.small {
          font-size: 1.5rem;
        }

        &.hit {
          background-color: green;
          color: white;
        }

        &.miss {
          background-color: red;
          color: white;
        }
      }
    }
  }
}