.filters-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30rem;
  font-size: 2rem;
  gap: 1rem;

  &__filters-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    gap: 1rem;

    button {
      font-size: 1.5rem;
    }
  }
}