.edit-list-string {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .edit-list-string-display {
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    gap: 0.5rem;


    .edit-list-string-item {
      display: flex;
      align-items: center;
      // height: 2rem;

      button.delete-item-button {
        box-shadow: none;
        font-size: 1rem;
      }

      span {
        display: flex;
        align-items: center;
        text-align: start;
        font-size: 1.2rem;
        min-width: 2rem;
        min-height: 2rem;
        padding: 0.4rem 1rem;
      }

      .selected-item {
        text-align: left;
        box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }
    }

  }

  .edit-list-string-nav-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;

    button {
      font-size: 1.5rem;
      // width: 7.4rem;
    }
  }

  .edit-list-string-input {
    display: flex;
    width: 100%;
    // height: 3rem;
    gap: 1rem;
    padding-bottom: 1rem;

    input {
      margin-left: 0.2rem;
      width: 100%;
    }

    .edit-meaning-input-buttons {
      display: flex;
      gap: 1rem;
    }
  }




}