.edit-list-string {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .edit-list-string-display {
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }

  .edit-list-string-item {
    display: flex;
    gap: 1;
    align-items: center;

    button.delete-item-button {
      box-shadow: none;
      font-size: 1.2rem;
    }

    span {
      font-size: 1.7rem;
      min-width: 3rem;
      min-height: 3rem;
      text-align: center;
    }

    .selected-item {
      box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
  }

  .edit-list-string-input {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .edit-list-string-input input {
    width: 100%;
  }

  .edit-meaning-input-buttons {
    display: flex;
    gap: 1rem;
  }
}
