.display-view-kanji {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .kanji {
    width: 100%;

    .kanji-data {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      width: 100%;
      height: 10rem;

      .kanji-data-container {
        flex: 1;

        .kanji-data-header {
          font-weight: bold;
          text-decoration: underline;
          font-size: 1.4rem;
        }

        .kanji-data-list {
          font-size: 1.3rem;
          height: 8rem;
          overflow-y: auto;
        }
      }
    }
  }

}