.edit-word-furi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .edit-word-furi-display {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    user-select: none;
    font-size: 3rem;
    width: 100%;
    height: 100%;

    .kana-with-furi {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 0.5rem;
      min-width: 4.5rem;
      min-height: 8rem;
    }

    .kana {
      display: flex;
      align-items: flex-end;
    }

    .furi {
      font-size: 1.2rem;
      height: 1.5rem;
      display: flex;
      align-items: flex-end;
    }

    .selected-kana {
      border: 1px solid var(--white-color);
    }
  }

  .edit-word-furi-input {
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 1rem;
    padding-left: 0.5rem;

    .edit-word-furi-input-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}