@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.underline-text {
  position: relative;
}

.test-modal-results-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  height: 100%;
  width: 100%;

  .results-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding-bottom: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
  }

  .test-modal-results-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    width: 100%;
    height: 28.75rem;
    padding-top: 0.5rem;
    // gap: 0.5rem;
    font-size: 2rem;


    .test-modal-results-result {
      display: flex;
      user-select: none;
      gap: 0.5rem;
      padding-left: 1rem;
      align-items: center;


      .test-modal-results-result-check {
        font-weight: 800;
      }

    }

    .underline {
      opacity: 0;
      height: 0.25rem;
      margin-left: 2.5rem;

      &.miss {
        background-color: red;
      }
    }

    .underline.fade-in {
      opacity: 1;
      animation: underline 1s linear forwards;
    }


  }

  .results-footer {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    // align-items: flex-end;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
    // margin-bottom: 0.5rem;
  }
}