.test-modal-setup-content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.question-limit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.question-limit span {
  text-align: center;
  width: 2rem;
  font-size: 1.5rem;
}
