.display-view-modal-header {
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;

    button {
      font-size: 1.2rem;
      width: 2rem;
      height: 2rem;
    }

    &__center {
      display: flex;
      gap: 0.5rem;

      .kanji-header-button {
        width: 4rem;
      }
    }
  }

  &__text {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    .kana-with-furi {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .kana {
        display: flex;
        align-items: flex-end;
        font-size: 3rem;
      }

      .kana.s {
        font-size: 2rem;
      }

      .kana.xs {
        font-size: 1.75rem;
      }

      .furi {
        display: flex;
        align-items: flex-end;
        font-size: 1.2rem;
        height: 1.5rem;
      }
    }
  }

  &__succes-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

}