.display-view-general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-color: var(--white-color) var(--white-color);
  width: 100%;
  height: 100%;

  &__top {
    &__word {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;

      &__characters {
        display: flex;
      }

      &__succes-percentage {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }

    &__lists {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 30rem;
      gap: 1rem;

      &__similar-words {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        padding-top: 1rem;
        border-top: 1px dotted var(--white-color);

        &__word {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;

          &__meanings {}
        }
      }
    }
  }

}