.sentennce-modal-footer {
    width: 100%;
    gap: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .arrow-container {
      height: 3rem;
      width: 3rem;
    }
  
    .sentennce-modal-view-buttons {
      display: flex;
      gap: 1rem;
    }
  }
  
  