.all-kanjis-modal-content {
  width: 30rem;
  height: 45rem;
  font-size: 2.5rem;
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-color: var(--white-color) var(--white-color);

  &__kanji-option {
    font-size: 3.5rem;
    cursor: pointer;
  }

  &__kanji-data {
    width: 100%;
    height: 100%;

    .loading-component {
      height: 15rem;
    }

    .kanji-words {
      height: 18rem;
    }
  }

}