.main-list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  gap: 1rem;

  .main-list-header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
  }

  .main-list-header-text {
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 3rem;
  }

  .main-list-count {
    font-size: 1rem;
  }

  .main-list-filters-buttons {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
  }

  .reset-filters-button {
    position: fixed;
    left: 8rem;
    font-size: 1.5rem;
  }

  .main-list-kana-buttons {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
  }

  .main-list-search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    gap: 0.5rem;
  }

  .main-list-search-input input {
    width: 90%;
    height: 2rem;
  }

  .main-list-search-input button {
    position: fixed;
    color: black;
    font-weight: 600;
    right: 1.5rem;
  }
}
