.main-list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  gap: 1rem;

  .main-list-header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
  }

  .main-list-header-text {
    position: absolute;
    left: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 3rem;
  }

  .main-list-count {
    font-size: 1rem;
  }

  .main-list-filters-buttons {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
  }

  .reset-filters-button {
    position: fixed;
    left: 8rem;
    font-size: 1.5rem;
  }

  .main-list-kana-buttons {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
  }

  .main-list-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 3rem;
    gap: 0.5rem;

    .jisho-button {
      font-size: 1.5rem;
      width: 6rem;
    }

    .search-input {
      display: flex;
      width: 100%;
      position: relative;

      input {
        width: 100%;
        height: 3rem;
      }

      .reset-text-filter {
        position: absolute;
        right: 0rem;
        padding-top: 0.5rem;
        color: black;
        box-shadow: none;
        background-color: transparent;
      }
    }

    .kana-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}