.app {
  height: 100%;
  width: 100%;
}

input,
textarea,
button,
select,
li,
div,
span a {
  -webkit-tap-highlight-color: transparent;
}

li {
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: auto;
}

ul {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}