.app {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


button {
  user-select: none;
  border: none;
  background-color: transparent;
  color: white;
  background-color: #282c34;
  cursor: pointer;
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  border-radius: 5px;
  font-size: 2rem;
  box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  font-weight: 800;
}

button.no-shadow {
  box-shadow: none;
}

button.disabled {
  color: gray;
}
