.list-item-modal-display-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
  width: 100%;

  .list-item-modal-content {
    height: 19rem;
    margin-bottom: 1rem;
    overflow-y: auto;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }
}