.display-view-modal-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  .display-view-tags {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 0.5rem;
    gap: 1rem;

    .button {
      font-size: 1.2rem;
      flex-shrink: 0;
      color: var(--white-color);
      border: 1px solid var(--white-color);
      user-select: none;
      cursor: auto;
    }
  }

  .display-view-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;

    .display-view-modal-view-buttons {
      display: flex;
      gap: 1rem;
    }
  }


}