.display-view-modal-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  .display-view-tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .button {
      font-size: 1.3rem;
      color: white;
      user-select: none;
      cursor: auto;
    }
  }

  .display-view-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    .arrow-container {
      height: 3rem;
      width: 3rem;
    }

    .display-view-modal-view-buttons {
      display: flex;
      gap: 1rem;
    }
  }


}