.display-view-conjugation {
    width: 100%;
    overflow-y: auto;
    scrollbar-color: var(--white-color) var(--white-color);

    &__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        &__header {
            text-decoration: underline;
            font-weight: bold;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }
    }
}